*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
/*********************PARTIE PHOTO + INFOS ******/
.image {
    background: rgb(69, 3, 250);
    display: inline;
    padding: 5px 4px;
    margin: 3px 15px;
    position: absolute;
}
#info {
    background: blue;
    color: white;
    padding-top:20px;
    text-align: center;
    font-size: 25px;
    font-family: Satisfy ,cursive;
    height: 180px;
}
/*****************FIN DE PARTIE PHOTO + INFOS ******/
/****************STYLES DE L'ENTETE ****************/
header {
    background: rgb(51, 51, 250);
    position: sticky;
    top: 0;
    font-size: 1.3em;
}
/* header * {
    color:white;
} */
header input[type=checkbox]{
    display: none;
}
/**************** STYLES DU LABEL***********/
header label{
    display: flex;
    justify-content: left;
}

header label img{
    margin-left: 20px;
}
header label span{
    font-size: 18px;
    padding-top: 12px;
    margin-left: 20px;
    color: white;
}
header nav {
    display: none;
}
header input[type=checkbox]:checked + nav{
    display: flex;
    flex-direction: column;
}
/**********FIN STYLES LABEL******/
/**********STYLES DU MENU********/
header nav li:hover{
    background: white;
}
header label span:hover{
    background:white;
    color: blue;
}
header nav li{
    
    height: 50px;
    display: inline-block;
    padding: 15px 75px ;
    margin-left: 10px;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
}
header nav li a {
    color: white;
}
header nav li a:hover {
    color: blue;
}
/***********FIN DES STYLES D 'ENTETE ***********/

    
   h2 {
    font-size: 28px;
    border: 3px solid grey;
    background: rgb(169, 168, 245);
    color: blue;
}
#Formations {
    background-color: rgb(85, 85, 250);
    text-align: center;
    font-size: 1.3em;
    padding: 20px 300px 50px 300px;
}
#Formations dl dd {
    color: white;
}  
#Formations dl dd a {
    color: white;
}  
#Formations dl dd a:hover {
    background: white;
    color: blue;
}  

#competences{
    background-color: rgb(108, 108, 245);
    
    text-align: center;
    font-size: 1.3em;
    padding: 20px 300px 50px 300px;
}
#competences p {
    font-weight: bold ;
    text-decoration: underline;
    font-size: 1.2em;
}
#competences ul li {
    list-style-type: decimal;
    color: white;
}

#Ppro{
    background-color: rgb(128, 128, 245);
    text-align: center;
    font-size: 1.3em;
    padding: 20px 300px 50px 300px;
}
#Ppro dl dt {
    font-size: 25px;
}
#Ppro dl dt a:hover {
    background: white;
    color: blue;
}
#Ppro dl dd{
  color:white;
}
#hobbies {
    background-color: rgb(125, 125, 211);
    text-align: center;
    font-size: 1.3em;
    padding: 20px 300px 50px 300px;
}
#hobbies p  {
    text-align: center;
    font-size: 32px;
    font-weight: bold ;
    text-decoration: underline;
    margin-left: -390px;
   
}
#hobbies dl dt{
    margin-left: -300px;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
}
#hobbies dl dd a:hover {
    background: white;
    color: blue;
}
footer{
    background: blue;
    height: 40px;
    text-align: right;
    color: white;
    padding-top: 10px;
    padding-right: 30px;
    position: sticky;
    bottom: 0;
}
    

    
   
    
